div .log {
    border: 5px solid rebeccapurple;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 10px 10px 10px;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("./images/camion_cargando.png");
    max-width: 100%;
}


body>div:first-child {
    border: 0px solid black;
    width: 100%;
    padding-top: 5%
}
.form-label{
    font-size:x-large;
}
html{
    /* width: 100vw;
    height: 100vh; */
}

body {
    width: 100vw;
    height: 100vh;
    background:linear-gradient(60deg,white,blue) ;
/*min-height: 100%;*/
}
.mb-3 form-check{
    visibility: inherit;
}

.titulo{
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    text-shadow: 5px 5px 5px black;
    color: #a94d11;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.size_photo{
    width: 40vw;
}