body {
  background-image:  url(./images/fondoAccesoDeg.jpg);
  opacity: 0.9;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
 
}

html{
  width: 100%;
  height: 100vh;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.body {

 
min-height: 100%;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.centrado{
  width: 100%;
  padding: auto;
}
 
.franja{
  padding-top: 15px;

  margin: 0;
} 

.card-body{
  background-color:rgb(196, 194, 168);
  border-radius: 1%;
}

.hovered-thumb {
  transform: scale(1.2); /* Escalar el elemento al 120% cuando se pasa el mouse sobre él */
  transition: transform 0.3s; /* Agregar una transición suave */
}

.thumbsCarro{
  background-color:  rgb(196, 194, 168);
}

.textoNav{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:x-large;
  font-weight: 700;
  color:black;
}
.textoNav:hover{
  color:gray;
}

.textoRell{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:medium;
  font-weight: 300;
  color:black;
} 

 .iconos{
  min-width: 2vw;
  min-height: 2vw;
  max-width: 2vw;
  max-height: 2vw;
  padding: auto;
  border: 3px solid black;
  border-radius: 10%;
 

}
.separate{
  position:relative;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding-top: 10%;
}
.barranav{ 
  position:fixed;
  background-color:rgb(196, 194, 168);
  width: 100vw;
  z-index: 1;
} 
.navOption{
  
  position:fixed;
  left: 90%;
  bottom: 50%;
  width: 100vw;
  z-index: 1;
}

.gapIcon{
  margin: 0;
  padding-bottom:20% ;
}
.top{
  margin: 1px;
  width: 100%;
  height: 100%;
  padding-top: 30%;
}
.bottom{
  height: 100vh;
  /* padding-bottom: 5%; */
}
.bottomButton{

  margin:0;
  width: 100%;
  height: 10%;
  position: relative;
  z-index: 0;
  padding-bottom: 5%;
}
.detras{
  position: relative;
  z-index: 0;
}

.cuerpoTabla{
  margin: 0;
  width: 100%;
  border-radius: 5%;
 /* background-image: url(./images/fondoAcceso.jpg); */
}
.borderKing{
  border-radius: 5px;
}

.tablaAdicionalHead{
  border-top: 5px solid rgb(80, 80, 243);
}
.tablaAdicionalRow{
  border-bottom: 5px solid rgb(80, 80, 243);
}