body {
  background:linear-gradient(0deg,white 2%,rgb(99, 99, 223) 40%,blue 80%,white ) ;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

html{
  width: 100%;
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.body {

 
min-height: 100%;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.centrado{
  width: 100%;
  padding: auto;
}
 
.franja{
  padding-top: 15px;

  margin: 0;
} 

.card-body{
  background-color: bisque;
}

.hovered-thumb {
  transform: scale(1.2); /* Escalar el elemento al 120% cuando se pasa el mouse sobre él */
  transition: transform 0.3s; /* Agregar una transición suave */
}

.thumbero{
  box-shadow: 10px 10px 5px black;
}

.textoNav{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:x-large;
  font-weight: 700;
  color:navajowhite;
}

.textoRell{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:medium;
  font-weight: 300;
  color:navajowhite;
} 

 .iconos{
  min-width: 2vw;
  min-height: 2vw;
  max-width: 2vw;
  max-height: 2vw;
  padding: auto;
}

/* .barranav{ */
  /* position:fixed; */
/* } */

/* .top{ */
  /* margin: 1px;
  width: 100%;
  height: 100%;
  padding-top: 30%; */

/* } */